.ReactA11ySelect {
  font: 1.6rem sans-serif;
}

.ReactA11ySelect .button {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 5px 15px;
  /* padding: 15px 4px 17px 0; */
  /* list-style: none; */
}

.ReactA11ySelect .button:hover {
  cursor: pointer;
}

.ReactA11ySelect .button div.arrow {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 -0.2rem 0.4rem 0.2rem;
  vertical-align: middle;
}

.ReactA11ySelect .button {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ReactA11ySelect .button.open {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ReactA11ySelect ul li {
  /* display: inline-block; */
  /* margin-right: -4px; */
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #111;
}

/* .ReactA11ySelect ul li:hover { */
/*   background: #555; */
/*   color: #fff; */
/* } */

.ReactA11ySelect ul {
  /* border: 1px solid #999; */
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  /* top: 48px; */
  left: 8px;
  background: #fff;
  /* width: 150px; */
  /* -webkit-box-shadow: none; */
  /* -moz-box-shadow: none; */
  /* box-shadow: none; */
  box-shadow: 0 4px 8px #aaa;
  /* display: none; */
  /* opacity: 0; */
  /* visibility: hidden; */
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  list-style: none;
  z-index: 1;
}
.ReactA11ySelect ul li ul li {
  /* min-width: 80px; */
  /* background-color: #555; */
}
.ReactA11ySelect ul li ul li > a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.ReactA11ySelect ul li.highlighted {
  background: #333;
  color: #fff;
}
/* .ReactA11ySelect ul li:hover ul { */
/*   display: block; */
/*   opacity: 1; */
/*   visibility: visible; */
/* } */
/* .ReactA11ySelect ul li > span { */
/* 	display: inline-block; */
/* 	margin: 0 0 -3px 5px; */
/* 	width: 12px; */
/* 	height: 12px; */
/* 	background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-24.png'); */
/* 	background-size: 12px 12px; */
/* } */
