.ReactA11ySelect {
  font: 1.0rem sans-serif;
}

.ReactA11ySelect .button {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0.5rem 1.5rem;
}

.ReactA11ySelect .button:hover {
  cursor: pointer;
}

.ReactA11ySelect .button div.arrow {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 -0.2rem 0.4rem 0.2rem;
  vertical-align: middle;
}

.ReactA11ySelect .button {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.ReactA11ySelect .button.open {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.ReactA11ySelect ul li {
  position: relative;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #111;
}

.ReactA11ySelect ul {
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 8px #aaa;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  list-style: none;
  z-index: 1;
}
.ReactA11ySelect ul li ul li > a {
  text-decoration: none;
  display: block;
  color: #fff;
}
.ReactA11ySelect ul li.highlighted {
  background: #333;
  color: #fff;
}
